#main {
  width: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: sans-serif;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

#nav {
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: end;
}

ul {
  margin-top: -1%;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}

ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-top: -3%;
  transition: 0.4s ease;
}

ul li a:hover {
  color: blue;
}

#content {
  margin-left: 7%;
  margin-top: 6%;
}

#content h1 {
  font-size: 65px;
  color: rgb(36, 32, 30);
}

#content h3 {
  font-size: 36px;
  letter-spacing: 1px;
}

#content span {
  color: rgb(0, 0, 255);
}

#content a {
  text-decoration: none;
  color: #fff;
  background: rgb(36, 32, 30);
  margin: 26px 0;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s ease;
}

#content a:hover {
  background-color: rgb(0, 0, 255);
}

#images {
  display: flex;
  height: 0.5px;
  width: 100%;
  align-items: center;
  justify-content: right;
  margin-top: -14%;
  margin-left: -10%;
}

img {
  width: 300px;
  clip-path: circle();
}

#about{
  margin-left: 15%;
  margin-top: 15%;
}

#about h2{
  margin-right: auto;
  margin-left: 30%;
  font-size: 65px;
}

#about p{
  font-size: 25px;
}

#about span{
  margin-left: 30%;
}

#contact h2{
  margin-right: auto;
  margin-left: 30%;
  font-size: 65px;
}

#contact p{
  font-size: 25px;
}

#contact{
  margin-left: 15%;
  margin-top: 8%;
}

footer{
  font-size: 35px;
  margin-left: 40%;
  margin-top: 10%;
}